<div class="doubles">
    <form class="pair1">
        <mat-label></mat-label>
        <mat-form-field class="playerNames">
            <input matInput name="player1" placeholder="Player 1">
        </mat-form-field>
        <h2>+</h2>
        <mat-form-field>
            <input matInput name="player2" placeholder="Player 2">
        </mat-form-field>
    </form>
    <h1 align="center">VS</h1>
    <form class="pair1">
            
            <mat-form-field class="playerNames">
                <input matInput name="player3" placeholder="Player 3">
            </mat-form-field>
            <h2>+</h2>
            <mat-form-field>
                <input matInput name="player4" placeholder="Player 4">
            </mat-form-field>
    </form>
</div>