<app-player-form></app-player-form>
<div class="scoreCardContainer">
    <mat-card class="gameScore playerOne">
        <mat-card-title>
        <span class="gameScoreNumber">{{pointsPlayerOne}}</span>
        </mat-card-title>
    </mat-card>
    <mat-card class="setScore playerOne">
        <mat-card-title>
        <span class="setScoreNumber">{{playerOneSetScore}}</span>
        </mat-card-title>
    </mat-card>
    <mat-card class="setScore playerTwo">
        <mat-card-title>
        <span class="setScoreNumber">{{playerTwoSetScore}}</span>
        </mat-card-title>
    </mat-card>
    <mat-card  class="gameScore playerTwo">
        <mat-card-title>
        <span class="gameScoreNumber">{{pointsPlayerTwo}}</span>
        </mat-card-title>
    </mat-card>
</div>